<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT sponsors ANY>
<!ATTLIST sponsors id ID #REQUIRED>
]>
<root id="-1">
  <sponsors id="1067" key="f9cbc10f-f727-417e-ac15-d971b17a6b6d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-04T14:54:34" updateDate="2018-04-04T14:54:34" nodeName="Sponsor1" urlName="sponsor1" path="-1,1067" isDoc="" nodeType="1066" creatorName="Gruppe3" writerName="Gruppe3" writerID="0" template="1065" nodeTypeAlias="sponsors" isPublished="true">
    <sponsorImageText><![CDATA[sponsor text]]></sponsorImageText>
    <sponsorName><![CDATA[Sponsor1]]></sponsorName>
  </sponsors>
  <sponsors id="1068" key="fcd3b8f8-c122-4f20-84e5-487cdc62976c" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-04-04T15:14:47" updateDate="2018-04-04T15:14:47" nodeName="Sponsor2" urlName="sponsor2" path="-1,1068" isDoc="" nodeType="1066" creatorName="Gruppe3" writerName="Gruppe3" writerID="0" template="0" nodeTypeAlias="sponsors" isPublished="true">
    <sponsorImageText><![CDATA[sponsor text2]]></sponsorImageText>
    <sponsorName><![CDATA[Sponsor2]]></sponsorName>
  </sponsors>
  <sponsors id="1069" key="4cd939d2-d26f-41ec-965f-a09e0c4fbaf6" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-04-04T15:15:31" updateDate="2018-04-04T15:15:31" nodeName="Sponsor3" urlName="sponsor3" path="-1,1069" isDoc="" nodeType="1066" creatorName="Gruppe3" writerName="Gruppe3" writerID="0" template="0" nodeTypeAlias="sponsors" isPublished="true">
    <sponsorImageText><![CDATA[sponsor text3]]></sponsorImageText>
    <sponsorName><![CDATA[sponsor3]]></sponsorName>
  </sponsors>
</root>